body {
    background-color: #fff;
    color: #ffffff;
    font-weight: 200;
    height: 100vh;
    margin:0;
}

a {
    text-decoration: none;
}

h3 {
    margin-bottom: 30px;
}

th {
    height: 80px;
    width: 120px;
    text-align: center;
    color: #636b6f;
}

td {
    height: 100px;
}

th:nth-of-type(1),
td:nth-of-type(1) {
    color: red;
}

th:nth-of-type(7),
td:nth-of-type(7) {
    color: blue;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.main-title {
    text-align: center;
    font-size: 40px;
    color: black;
    padding-top: 130px;
    margin-top: 70px;
    font-family: sans-serif;
}

.day {
    font-size: 18px;
}

.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px
}

.month {
    width: 120px;
    display: inline-block;
}

.today {
    background: reba(28, 169, 97, 0.1);
}

.btn-space  {
    margin-top: 50px;
    display: inline-block;
    text-align: center;
    
}

/* 通常のボタン色 */
.btn-pink,
.btn-pink.disabled, .btn-pink:disabled {
  color: #fff;
  background-color: #00947a;
  border-color: #00947a;
  margin-bottom: 20px;
}
/* focusされた時の枠線の色 */
.btn-pink:focus, .btn-pink.focus,
.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 123, 255, 0.5);
}
/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
.btn-pink:hover {
  color: #fff;
  background-color: #a3d6cc;
  border-color: #a3d6cc;
}
/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: #00947a;
  border-color: #00947a;
}
