body {
    background-color: white;
}

.title {
    color: black;
    text-align: center;
    margin: 20px 10px 80px 10px;
}

.day {
    color: black;
    font-size: 25px;
    font-family: 'Oswald', sans-serif;
}

.item {
    color: #0068b7;
    text-align: center;
    font-size: 18px;
}

td {
    background: #fac559;
    border-radius: 8px;
    box-shadow: 0px 0px 5px silver;
    font-family: 'Oswald', sans-serif;
    border-collapse: collapse;
    text-align: center;
}

.button-btn {
    width: 100%;
    padding-top:40px;
    padding-bottom: 30px;
}

.a {
    float: left;
    position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.a:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

.b {
    float: right;
    position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.b:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

.delete-button {
    position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.delete-button:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

.edit-button {
    position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.edit-button:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

.btn-space  {
    display: flex;
    justify-content: space-between;
}

/* 通常のボタン色 */
.btn-pink,
.btn-pink.disabled, .btn-pink:disabled {
  color: #fff;
  background-color: #00947a;
  border-color: #00947a;
}
/* focusされた時の枠線の色 */
.btn-pink:focus, .btn-pink.focus,
.btn-pink:not(:disabled):not(.disabled):active:focus, .btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(200, 123, 255, 0.5);
}
/* hover時（マウスカーソルを重ねた時）の色（通常より濃いor暗めの色を指定） */
.btn-pink:hover {
  color: #fff;
  background-color: #a3d6cc;
  border-color: #a3d6cc;
}
/* active時の色（hover時と同等かさらに濃いor暗めの色を指定） */
.btn-pink:not(:disabled):not(.disabled):active, .btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: #00947a;
  border-color: #00947a;
}






