.title {
    width: 100%;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 250px;
    
}

.bottom-btn {
    padding: 40px 200px 30px 200px;
}

.a {
    float: left;
    position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.a:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}

.b {
    float: right;
    position: relative;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.b:active {
    border: solid 1px #03A9F4;
    box-shadow: none;
    text-shadow: none;
}
